.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "first second third fourth";
}

html,
body,
.grid-container {
  height: 100%;
  margin: 0;
  grid-gap: 5px;
}

.first {
  display: grid;
  grid-area: first;
  width: 100%;
  align-items: center;
  justify-content: center;
  transition: all 0.1s linear;
}

.second {
  display: grid;
  grid-area: second;
  width: 100%;
  align-items: center;
  justify-content: center;
  transition: all 0.1s linear;
}

.third {
  display: grid;
  grid-area: third;
  width: 100%;
  align-items: center;
  justify-content: center;
  transition: all 0.1s linear;
}

.fourth {
  display: grid;
  grid-area: fourth;
  width: 100%;
  align-items: center;
  justify-content: center;
  transition: all 0.1s linear;
}

.button {
  align-items: center;
  align-self: center;
  border-radius: 50%;
  height: 70px;
  margin: 0 30px 30px 0;
  padding-left: 5px;
  width: 70px;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.3), inset 0px 4px 1px 1px white,
    inset 0px -3px 1px 1px rgba(204, 198, 197, 0.5);
  overflow: hidden;
  transition: all 0.1s linear;
}

.first:hover {
  background: linear-gradient(270deg, #c32b12, #df8b16);
  background-size: 400% 400%;

  -webkit-animation: Gradient 3s ease infinite;
  -moz-animation: Gradient 3s ease infinite;
  animation: Gradient 3s ease infinite;
  transition: all 0.1s linear;
}

.second:hover {
  background: linear-gradient(270deg, #df8b16, #ccf00a);
  background-size: 400% 400%;

  -webkit-animation: Gradient 3s ease infinite;
  -moz-animation: Gradient 3s ease infinite;
  animation: Gradient 3s ease infinite;
  transition: all 0.1s linear;
}

.third:hover {
  background: linear-gradient(270deg, #ccf00a, #34f00a);
  background-size: 400% 400%;

  -webkit-animation: Gradient 3s ease infinite;
  -moz-animation: Gradient 3s ease infinite;
  animation: Gradient 3s ease infinite;
  transition: all 0.1s linear;
}

.fourth:hover {
  background: linear-gradient(270deg, #34f00a, #c32b12);
  background-size: 400% 400%;

  -webkit-animation: Gradient 9s ease infinite;
  -moz-animation: Gradient 9s ease infinite;
  animation: Gradient 9s ease infinite;
  transition: all 0.1s linear;
}

.first-button:hover:after {
  content: "❤";
  color: red;
  text-shadow: 0px 0px 6px #f94e66;
  font-size: 100%;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.second-button {
  background: red;
  color: black;
  transition: background-color 1s ease;
}

.second-button:hover {
  background: green;
  cursor: pointer;
}

#span {
  display: none;
  color: red;
  text-align: center;
  font-weight: bold;
}

.third-button:hover #span {
  display: block;
}

.fourth-button:hover {
  background: url("https://images.unsplash.com/photo-1517920366573-9d35a519b7c2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60")
    no-repeat center center;
  height: 150px;
  margin: 0 30px 30px 0;
  padding-left: 5px;
  width: 150px;
}
