.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "image-1 image-2 image-3 image-4";
  grid-gap: 10px;
}

.grid-container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: red;
}

.grid-container > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-1 {
  grid-area: image-1;
  transition: all 0.2s ease-in-out;
}

.image-1:hover {
  transform: scale(1.1);
}
.image-2 {
  grid-area: image-2;
}

.image-2:hover {
  transform: rotate(45deg);
  background-image: url("https://images.unsplash.com/photo-1511690656952-34342bb7c2f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
}

.image-2:hover .second-image {
  display: inline;
}
.second-image {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.image-3 {
  grid-area: image-3;
}

.image-4 {
  grid-area: image-4;
}
