.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "first second" "third fourth";
}

html,
body,
.grid-container {
  height: 100%;
  margin: 0;

  grid-gap: 5px;
}

.first {
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-flow: column;
  grid-template-areas: "first-button second-button";
  grid-area: first;

  width: 100%;
  align-items: center;
  justify-content: center;
  transition: all 0.1s linear;
}

.button {
  align-items: center;
  align-self: inherit;
  border-radius: 50%;
  height: 70px;
  margin: 0 30px 30px 0;
  padding-left: 5px;
  width: 70px;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.3), inset 0px 4px 1px 1px white,
    inset 0px -3px 1px 1px rgba(204, 198, 197, 0.5);
  overflow: hidden;
  transition: all 0.1s linear;
}

.button:after {
  color: #e9e6e4;

  display: block;
  font-size: 30px;
  height: 30px;
  text-decoration: none;
  text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
  position: absolute;
  width: 30px;
}

.first-button:after {
  content: "❤";
  left: 20px;
  top: 120px;
}

.first:hover {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
  transition: all 0.1s linear;
}

.first-button:hover:after {
  color: #f94e66;
  text-shadow: 0px 0px 6px #f94e66;
}

.second-button:hover:after {
  color: #f94e66;
  text-shadow: 0px 0px 6px #f94e66;
}

.active:hover {
  background-image: -webkit-linear-gradient(top, #fff, #f4f1ee);
  background-image: linear-gradient(top, #fff, #f4f1ee);
  color: #0088cc;
}

.inactive {
  display: none;
}

.inactives {
  display: none;
}

.active:hover + .inactive {
  display: inline-block;
  color: red;
  background-color: yellow;
  content: "hello";
  right: 30px;
}

.second {
  /* border: 2px solid red; */
  position: relative;
  transition: all 0.1s linear;
}

.second:hover {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
  transition: all 0.1s linear;
}

h1 {
  display: none;
}

h4 {
  display: none;
  color: yellow;
  text-transform: uppercase;
  font-size: xx-large;
}
.second:hover h1 {
  display: block;
  text-align: center;
  animation-duration: 3s;
  animation-name: slidein;
}

.second:hover h4 {
  display: block;
  animation-name: passing;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.third > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #ffeead;
}

.third > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.third {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: auto;
  transition: all 0.1s linear;
}

.image-1 {
  transition: all 1s ease-in-out;
}
.image-1:hover {
  transform: scale(1.1);
}

.image-2 {
  transition: all 1s ease;
}

.image-2:hover {
  transform: translatey(200px);
}

.image-3 {
  transition: all 1s ease-out;
}
.image-3:hover {
  transform: translatex(150px);
}

.fourth {
  grid-area: fourth;
  /* border: 2px solid red; */
  width: 100%;
}

.fourth:hover {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

@keyframes slidein {
  0% {
    opacity: 0;
    transform: translatey(-10rem);
  }
  80% {
    transform: translatey(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes passing {
  from {
    margin-right: 0%;
    width: 300%;
  }

  to {
    margin-left: 100%;
    width: 100%;
  }
}

p {
  bottom: 0;
  position: absolute;
  right: 50%;
  transition: border 0.6s ease-in-out;
}

.second:hover p {
  background: grey;
  border: 2px red solid;
}

input[type="text"] {
  width: 100px;
  transition: width 0.35s ease-in-out;
}

input[type="text"]:focus {
  width: 250px;
}
